<div class="dialog-container">
  <mat-dialog-content>
    <div class="title-secction">
      <div class="icon-title">
        <mat-icon>share</mat-icon>
      </div>
      <div class="title">Compartir</div>
      <div class="close">
        <mat-dialog-actions>
          <button mat-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button>
        </mat-dialog-actions>
      </div>
    </div>
    <div>Elije la forma de compartir.</div>
    <h4>Escoge una de las 3 opciones.</h4>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Un usuario">
        <div class="content">
          <mat-form-field>
            <mat-label>Nombre de usuario</mat-label>
            <input
              type="text"
              matInput
              [formControl]="userControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              @for (option of filteredUsers | async; track option) {
                <mat-option [value]="option">{{
                  option.fullName + " - " + option.dependence
                }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <button mat-raised-button (click)="shareUser()">
            Compartir con usuario
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Todos">
        <div class="content">
          <div>¡Se compartirá a todos los usuarios! <br /></div>

          <button mat-raised-button (click)="shareAll()">
            Compartir con todos
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Una dependencia">
        <div class="content">
          <mat-form-field>
            <mat-label>Nombre de dependencia</mat-label>
            <input
              type="text"
              matInput
              [formControl]="dependencyControl"
              [matAutocomplete]="autoDep"
            />
            <mat-autocomplete #autoDep="matAutocomplete">
              @for (option of filteredDependencies | async; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <button mat-raised-button (click)="shareDependency()">
            Compartir con la dependencia
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>

    @if (data.type == "folder") {
      <div>
        <mat-slide-toggle
          (change)="onPrivacityChange()"
          [checked]="data.accessType === 'publico'"
          >Privacidad del archivo: {{ data.accessType }}</mat-slide-toggle
        >
      </div>
    }
    <div class="link">
      <mat-accordion>
        <mat-expansion-panel
          [disabled]="data.accessType !== 'publico'"
          (opened)="showQr = true"
          (closed)="showQr = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Compartir QR público </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="color: gray; justify-content: center; font-size: small">
            {{ qrUrl }}
            <button mat-icon-button matSuffix (click)="copyText()">
              <mat-icon>file_copy</mat-icon>
            </button>
          </div>
          <qrcode
            [qrdata]="qrUrl"
            [width]="256"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-dialog-content>
</div>
