<div class="customdialog">
    
    <mat-dialog-content>
        <div class="title-secction">
            <div class="icon-title">
                <mat-icon>share</mat-icon>
            </div>        
            <div class="title">
                Compartir folder
            </div> 
            <div class="close">
                <mat-dialog-actions>
                    <button mat-button mat-dialog-close>
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-dialog-actions>                
            </div>
        </div>
        <div class="label-email-secction">
            Elije la forma de compartir tu folder.
        </div>
        <h4>Escoge una de las 3 opciones.</h4>
        <mat-button-toggle-group [formControl]="typeofshareControl" aria-label="Font Style">
            <mat-button-toggle value="user">Un usuario</mat-button-toggle>
            <mat-button-toggle value="all">Todos</mat-button-toggle>
            <mat-button-toggle value="dependency">Una dependencia</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="email-secction">
            
            @if(typeofshareControl.value == "user"){
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre de usuario</mat-label>
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option.nombres +" "+option.paterno +" - "+ option.dependencia}}</mat-option>
                      }
                    </mat-autocomplete>
                </mat-form-field>
            }
            @if(typeofshareControl.value == "dependency"){
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre de dependencia</mat-label>
                    <input type="text" matInput [formControl]="myControldependency" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFndependency">
                      @for (option of filteredOptionsdependency | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                      }
                    </mat-autocomplete>
                </mat-form-field>
            }
            @if(typeofshareControl.value == "all"){
                <div class="forall">¡Se compartirá a todos los usuarios!</div>
            }
            
        </div>      
        @if(typeofshareControl.value == "user"){
            <div class="button-secction">
                <button mat-raised-button mat-dialog-close (click)="compartir()">Compartir con usuario</button>
            </div>
        }
        @if(typeofshareControl.value == "dependency"){
            <div class="button-secction">
                <button mat-raised-button mat-dialog-close (click)="compartirdependencia()">Compartir con la dependencia</button>
            </div>
        }
        @if(typeofshareControl.value == "all"){
            <div class="button-secction">
                <button mat-raised-button mat-dialog-close (click)="compartirall()">Compartir con todos</button>
            </div>
        }
        
        <div class="link">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Compartir QR para descargar archivo
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div style="color: gray; justify-content: center; font-size: small;">
                    {{textToCopy}}
                    <button
                    mat-icon-button
                    matSuffix
                    (click)="copyText()"
                    >
                    <mat-icon>file_copy</mat-icon>
                  </button></div>
                  <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
    </mat-dialog-content>
    </div>