<h2 mat-dialog-title>
  <mat-icon>key</mat-icon>
  Verificar Contraseña
</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Ingrese la contraseña</mat-label>
    <input
      matInput
      [formControl]="passControl"
      [type]="hide ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Mostrar/Ocultar contraseña'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-button (click)="onConfirm()" [disabled]="passControl.invalid">
    Confirmar
  </button>
</mat-dialog-actions>
