.container {
    display: flex;
    height: calc(100vh - 64px); /* Use full height of the viewport */
    flex-direction: column;
    
    padding-bottom: 450px;
  }
  .maintitle{
    margin: 1%;
    padding-top: 0.5%;
    margin-right: 1%;
    font-size: 200%;
    font-weight: bold;
    color: #06367A;
  }