<div class="container">
  <div class="vertical-layout">
    <div class="buscadormovil">
      <div class="title">Archivos compartidos</div>
      <span class="example-spacer"></span>
      <div style="margin-top: 10px">
        <mat-form-field appearance="outline">
          <mat-label>Buscar archivo</mat-label>
          <input
            matInput
            placeholder="Ex. Folder1"
            [(ngModel)]="search"
            (input)="onSearch($event)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row">{{ row.file.title }}</td>
      </ng-container>

      <ng-container matColumnDef="emitter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Emisor</th>
        <td mat-cell *matCellDef="let row">
          {{ row.emitter.fullName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="receptor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Receptor</th>
        <td mat-cell *matCellDef="let row">{{ row.receptor.fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="preview(row.file)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="download(row.file)">
            <mat-icon>download</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No se encontraron archivos compartidos.
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 100]"
      (page)="onPageChange($event)"
      itemsPerPageLabel="Archivos por página"
    ></mat-paginator>
  </div>
</div>
