<div class="customdialog">
    <div class="img-secction">
        <ngx-extended-pdf-viewer [src]="url" useBrowserLocale="true" height="100%" width="100%"></ngx-extended-pdf-viewer>
    </div>
    <div class="data-secction">
        <div class="vertical-layout">
            <div class="name">{{data.name| truncateDocumentName}}</div>
            <div class="date">{{data.date| formatDate }}</div>
            <div class="share-secction">
                <div>
                    {{data.privacy}}
                </div>
            </div>
        </div>
    </div>
</div>
