<div class="container">
    <div class="title">
        <mat-icon>account_circle</mat-icon> Perfil
    </div>
    <div class="data">
        <div class="data-secction">
            <div class="horizontal-layout">
                <div class="vertical-layout">
                  <div class="personal-data"><mat-icon>account_box</mat-icon>Información personal</div>
                    <div class="label">Nombre completo</div>
                    <div class="value">{{usuario.nombres + " " + usuario.paterno + " " + usuario.materno}}</div>
                    <div class="label">Dependencia</div>
                    <div class="value">{{usuario.dependencia}}</div>
                    <div class="label">Sigla</div>
                    <div class="value">{{usuario.sigla}}</div>
                    <div class="label">Telefono</div>
                    <div class="value">{{usuario.celular}}</div>
                    <div class="label">Direccion</div>
                    <div class="value">{{usuario.domicilio}}</div>
                </div>
                <div class="vertical-layout">
                  <div class="personal-data"><mat-icon>lock</mat-icon>Información de la cuenta</div>
                  <div class="label">Cedula de Identidad</div>
                  <div class="value">{{usuario.ci}}</div>
                  <div class="label">Usuario</div>
                  <div class="value">{{usuario.usuario}}</div>
                  <div class="label">Cargo</div>
                  <div class="value">{{usuario.cargo}}</div>
              </div>
            </div>
        </div>
    </div>
</div>

