<div class="container" [style.display]="displaylogin">

  <div class="center">
    <div class="left-section">
        <div class="text-welcome-section">

        </div>
        <div class="login-text-section">
            {{this.mensajeBienvenido}}
        </div>
        <form (ngSubmit)="onLogin()">
            <div class="email-section">
                <div class="example-container">
                    <mat-form-field>
                        <mat-label>Ingrese tu usuario</mat-label>
                        <input matInput [(ngModel)]="username" name="usuario">
                        <button mat-icon-button matSuffix type="button">
                            <mat-icon>person</mat-icon>
                        </button>

                    </mat-form-field>
                </div>
            </div>
            <div class="password-section">
                <div class="example-container">
                    <mat-form-field>
                      <mat-label>Ingrese tu contraseña</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
                      <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="button-section">
                <div class="example-button-row">
                    <button mat-raised-button type="submit">Acceder</button>
                </div>
            </div>
            @if(mostrarAlertaDelete){
                <div class="alert">
                    Acceso correcto
                </div>
              }
            @if(mostrarAlertaErrorDelete){
                <div class="alertE">
                    Usuario o Contraseña incorrecto.
                </div>
            }
        </form>
    </div>
</div>
</div>
<div class="charging" [style.display]="displaycharging">
</div>
