<div class="container">
  <div class="title"><mat-icon>account_circle</mat-icon> Perfil</div>
  <div class="data">
    <div class="data-secction">
      <div class="horizontal-layout">
        <div class="vertical-layout">
          <div class="personal-data">
            <mat-icon>account_box</mat-icon>Información personal
          </div>
          <div class="label">Nombre completo</div>
          <div class="value">
            {{ data.nombres + " " + data.paterno + " " + data.materno }}
          </div>
          <div class="label">Dependencia</div>
          <div class="value">{{ data.dependencia }}</div>
          <div class="label">Sigla</div>
          <div class="value">{{ data.sigla }}</div>
          <div class="label">Telefono</div>
          <div class="value">{{ data.celular }}</div>
          <div class="label">Direccion</div>
          <div class="value">{{ data.domicilio }}</div>
        </div>
        <div class="vertical-layout">
          <div class="personal-data">
            <mat-icon>lock</mat-icon>Información de la cuenta
          </div>
          <div class="label">Cedula de Identidad</div>
          <div class="value">{{ data.ci }}</div>
          <div class="label">data</div>
          <div class="value">{{ data.usuario }}</div>
          <div class="label">Cargo</div>
          <div class="value">{{ data.cargo }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
