<mat-menu #menu="matMenu">
  @if (showMenuItems().showDelete) {
    <button mat-menu-item (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
  }

  @if (showMenuItems().showDownload) {
    <button mat-menu-item (click)="download()">
      <mat-icon>download</mat-icon>
      <span>Descargar</span>
    </button>
  }

  @if (showMenuItems().showShare) {
    <button mat-menu-item (click)="share()">
      <mat-icon>share</mat-icon>
      <span>Compartir</span>
    </button>
  }
</mat-menu>

<mat-card
  class="relative"
  [ngClass]="{ 'item-container': !isInline, 'item-container-inline': isInline }"
  [matTooltip]="item().name"
  [matTooltipPosition]="'above'"
>
  <button
    class="reset-button"
    [ngClass]="{ 'reset-button': !isInline, 'reset-button-inline': isInline }"
    (click)="onItemClick()"
  >
    <mat-card-content
      [ngClass]="{
        'mat-card-content-block': !isInline,
        'mat-card-content-inline': isInline,
      }"
    >
      <div [ngClass]="{ 'text-center': !isInline }">
        <mat-icon
          [ngClass]="{
            icon: !isInline,
            'icon-inline': isInline,
          }"
          >{{ item().icon }}</mat-icon
        >
      </div>
      <div [ngClass]="{ 'item-name-container': !isInline }">
        @if (item().accessType === "restringido") {
          <mat-icon>lock</mat-icon>
        }
        <span clas="item-name">
          {{ item().name.toLowerCase() | slice: 0 : (!isInline ? 15 : 30) }}
          @if (item().name.length > (!isInline ? 15 : 30)) {
            ...
          }
        </span>
      </div>
    </mat-card-content>
  </button>
  @if (showMenu()) {
    <button
      [ngClass]="{
        'more-actions': !isInline,
        'more-actions-inline': isInline,
      }"
      mat-icon-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  }
</mat-card>
