@if (!isLoading()) {
  <div class="container">
    <div class="flex-2">
      <div class="main-title">Archivos Recientes</div>
      <div class="recent-files">
        @for (file of recentFiles(); track file.id) {
          <app-folder-item
            [item]="toItem(file)"
            [viewType]="'inline'"
          ></app-folder-item>
        }
      </div>
    </div>
    <div class="flex-1">
      <button
        mat-stroked-button
        style="width: 100%; background: #ffffff; margin-bottom: 1rem"
        (click)="signPdf()"
      >
        <mat-icon>edit_document</mat-icon>
        Documentos Sellados
      </button>
      <mat-accordion multi>
        @if (roleId == 1) {
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title> Mensaje General </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="message">
              <form [formGroup]="formGroup" (submit)="sendAllMessage()">
                <mat-form-field [style.width]="'100%'" appearance="outline">
                  <mat-label>Titulo del mensaje</mat-label>
                  <input formControlName="title" matInput />
                </mat-form-field>

                <mat-form-field [style.width]="'100%'" appearance="outline">
                  <mat-label>Mensaje</mat-label>
                  <textarea formControlName="message" matInput></textarea>
                </mat-form-field>

                <button
                  [disabled]="formGroup.invalid"
                  type="submit"
                  [style.width]="'100%'"
                  mat-raised-button
                >
                  <mat-icon>send</mat-icon>
                  Enviar mensaje a todos los usuarios
                </button>
              </form>
            </div>
          </mat-expansion-panel>
        }

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Notificaciones </mat-panel-title>
            <mat-panel-description>
              <span>Sin leer {{ notifications().length }}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          @for (notification of notifications(); track notification) {
            <div class="notification">
              <div class="notification__title">
                <p>
                  <span class="font-bold">{{ notification.title }}</span>
                  {{ notification.date | date: "dd/MM/yyyy h:mm a" }}
                </p>
                <button mat-icon-button (click)="markAsRead(notification)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div>{{ notification.message }}</div>
            </div>
          }
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Almacenamiento </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="storage-bar">
            <div class="storage-usage">
              <div
                class="bar google-drive"
                [ngStyle]="{
                  width: calcPercentage(usageStorage()?.documents) + '%',
                }"
              ></div>
              <div
                class="bar google-photos"
                [ngStyle]="{
                  width: calcPercentage(usageStorage()?.images) + '%',
                }"
              ></div>
              <div
                class="bar gmail"
                [ngStyle]="{
                  width: calcPercentage(usageStorage()?.videos) + '%',
                }"
              ></div>
              <div
                class="bar other"
                [ngStyle]="{
                  width: calcPercentage(usageStorage()?.audios) + '%',
                }"
              ></div>
            </div>
            <div class="storage-info">
              <span>
                {{ calcMb(usageStorage()?.totalUsage).toFixed(3) }} MB de
                {{ calcGb(totalSpace) }} GB en uso
              </span>
              <div class="legend">
                Documentos<span class="legend-item google-drive"></span>
                Imagenes<span class="legend-item google-photos"></span>
                Videos<span class="legend-item gmail"></span> Audios<span
                  class="legend-item other"
                ></span>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
}
