<mat-dialog-content class="customdialog">
    <div class="img-secction">
        ¡Alerta de confirmación!
    </div>
    <div class="data-secction">
        <div class="vertical-layout">            
            @if(this.data.password === "folder"){
                <div class="name">¿Seguro que quiere eliminar el folder?</div>
                <div class="date">Una vez eliminado el folder no se podrá recuperar.</div>
            }@else{
                <div class="name">¿Seguro que quiere eliminar el archivo?</div>
                <div class="date">Una vez eliminado el archivo no se podrá recuperar.</div>
            }
        </div>       
    </div>
    
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>No gracias</button>
    @if(this.data.password === "folder"){
        <button mat-button mat-dialog-close (click)="eliminarfolder()">Eliminar folder</button>
    }@else{
        <button mat-button mat-dialog-close (click)="eliminarArchivo()">Eliminar archivo</button>
    }
  </mat-dialog-actions>
