<mat-dialog-content class="customdialog">
    <div class="img-secction">
        <audio controls>
            <source [src]="audioUrl" type="audio/mp3">
            Tu navegador no soporta esta función, prueba en otro.
          </audio>
    </div>
    <div class="data-secction">
        <div class="vertical-layout">
            <div class="name">{{data.name| truncateDocumentName}}</div>
            <div class="date">{{data.date| formatDate }}</div>
            <div class="share-secction">
                <div>
                    {{data.privacy}}
                </div>
            </div>
        </div>       
    </div>
</mat-dialog-content>
