<mat-dialog-content class="customdialog">
    <div class="img-secction">
        ¡Alerta de confirmación!
    </div>
    <div class="data-secction">
        <div class="vertical-layout">
            <div class="name">¿Seguro que quieres cerrar sesión?</div>
        </div>       
    </div>
    
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>No gracias</button>
    <button mat-button mat-dialog-close (click)="logout()">Cerrar sesión</button>
  </mat-dialog-actions>
