<div class="container">
    <div class="title">
        Administra tus usuarios
    </div>
    <div class="table-secction">
        <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.usuarioID}} </td>
                </ng-container>

                <!-- nombre Column -->
                <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre completo </th>
                <td mat-cell *matCellDef="let row"> {{row.nombres +" "+ row.paterno +" "+ row.materno}} </td>
                </ng-container>

                <!-- celular Column -->
                <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
                <td mat-cell *matCellDef="let row"> {{row.celular}} </td>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
                <td mat-cell *matCellDef="let row"> {{row.cargo}} </td>
                </ng-container>
                
                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>                    
                    <td mat-cell *matCellDef="let row">
                        @if(row.status == true){
                            Activo
                        }
                        @if(row.status == false){
                            Inactivo
                        }
                    </td>
                </ng-container>

                <!-- fechacreacion Column -->
                <ng-container matColumnDef="fechacreacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dependencia </th>
                    <td mat-cell *matCellDef="let row"> {{row.dependencia}} </td>
                </ng-container>
                
                <!-- fechaactualizacion Column -->
                <ng-container matColumnDef="fechaactualizacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol en sistema </th>
                    <td mat-cell *matCellDef="let element">
                        @if(slideemploy[element.usuarioID]){
                          <mat-form-field>
                            <mat-label>{{element.roles[0].nombreRol}} </mat-label>
                            <mat-select [(value)]="selected" [formControl]="rol">
                              <mat-option value=1>Administrador</mat-option>
                              <mat-option value=2>Superadministrador</mat-option>
                            </mat-select>
                          </mat-form-field>
                        }
                        @if(!slideemploy[element.usuarioID]){
                          {{element.roles[0].nombreRol}}
                        }       
                    </td>
                </ng-container>

                <!-- modificarrol Column -->
                <ng-container matColumnDef="rol"> 
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="button-secction">        
                          <mat-slide-toggle [(ngModel)]="slideemploy[element.usuarioID]"> > ¡Deliza para modificar rol!</mat-slide-toggle>
                        </div>
                        @if(slideemploy[element.usuarioID]){
                          <div class="button-secction">        
                            <button mat-stroked-button (click)="actualizarrol(element.usuarioID)">Aplicar Nuevo Rol</button>
                          </div>
                        }           
                    </td>
                </ng-container>
                
                <!-- fechaactualizacion Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">
                        <div class="button-secction">        
                            <button mat-raised-button  color="primary" (click)="enterprofile(row.usuarioID)">Ver detalles</button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>