.customdialog,
.customdialog mat-dialog-content {
  background-color: white;
  color: black;
  flex-direction: column;
  display: flex;
}
.icon-title {
  margin: 2%;
}
.title {
  margin-top: 2%;
  font-size: 150%;
  display: flex;
}
.close {
  flex: 5;
  display: flex;
  justify-content: flex-end;
}
.title-secction {
  flex-direction: row;
  display: flex;
}
.label-email-secction {
  display: flex;
  margin-top: 1%;
  font-size: small;
}
.alert {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  text-align: center;
}

.alertE {
  background-color: rgb(168, 30, 30);
  color: white;
  padding: 15px;
  text-align: center;
}
.email-secction,
.email-secction mat-form-field {
  margin-bottom: 2%;
  display: flex;
  width: 30vw;
}
.custom-input {
}
.link {
  display: flex;
}
.button-secction {
  display: flex;
  margin-top: 2%;
}

@media only screen and (max-width: 768px) {
  .email-secction,
  .email-secction mat-form-field {
    margin-bottom: 2%;
    display: flex;
    width: 100%;
  }
}
