<div class="container">
    <div class="vertical-layout">
      <div class="buscadormovil">
          <div class="title">Archivos compartidos</div>
          <span class="example-spacer"></span>
          <div style="margin-top: 10px;">
              <mat-form-field appearance="outline">
                  <mat-label>Buscar archivo</mat-label>
                  <input matInput placeholder="Ex. Folder1" [(ngModel)]="searchTerm" (input)="search()" >
                  <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>            
          </div>
      </div>
      <p>Aqui puedes ver los archivos que se compartieron.</p>
      <mat-list>
          @if(filteredFolders$ | async ; as folderList){
          @for(file of folderList; track file.id){
          <mat-list-item>
              <div matListItemTitle style="display: flex; flex-direction: row; align-items: center;">
                  <div>
                      @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "png"){
                      <mat-icon matListItemIcon>image</mat-icon>
                      }
                      @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "pdf"){
                      <mat-icon matListItemIcon>insert_drive_file</mat-icon>
                      }
                      @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "jpg"){
                      <mat-icon matListItemIcon>image</mat-icon>
                      }
                      @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "peg"){
                      <mat-icon matListItemIcon>image</mat-icon>
                      }
                      @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "doc"){
                      <mat-icon matListItemIcon>folder</mat-icon>
                      }
                      @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "mp3"){
                      <mat-icon matListItemIcon>music_note</mat-icon>
                      }
                      @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "mp4"){
                      <mat-icon matListItemIcon>local_movies</mat-icon>
                      }
                  </div>
                  @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "jpg"){                    
                  <div class="nombredocumento" (click)="openDialog(file.documentoId, file.nombreDocumento, file.linkDocumento , file.createdAt, file.tipoAcceso)">{{file.nombreDocumento | truncate:25}}</div>
                }
                @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "png"){
                    <div class="nombredocumento" (click)="openDialog(file.documentoId, file.nombreDocumento, file.linkDocumento , file.createdAt, file.tipoAcceso)">{{file.nombreDocumento | truncate:25}}</div>
                }
                @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "peg"){
                    <div class="nombredocumento" (click)="openDialog(file.documentoId, file.nombreDocumento, file.linkDocumento , file.createdAt, file.tipoAcceso)">{{file.nombreDocumento | truncate:25}}</div>
                }
                @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "pdf"){
                    <div class="nombredocumento" (click)="openDialogpdf(file.documentoId, file.nombreDocumento, file.linkDocumento , file.createdAt, file.tipoAcceso, this.useridglobal,file.description, file.accessType, file.password, file.categoria, file.folderId)">{{file.nombreDocumento | truncate:25}}</div>
                }
                  <span class="file-shared">
                    <i class="material-icons">send</i>
                    {{ file.emisorNombre }}
                  </span>
                  <span class="file-shared">
                    <i class="material-icons">person</i>
                    {{ file.receptorNombre }}
                  </span>
                  <span class="example-spacer"></span>
                  <div>
                      <button mat-icon-button [matMenuTriggerFor]="menu"
                          aria-label="Example icon-button with a menu">
                          <mat-icon class="blue-icon">more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                          @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "jpg"){
                              <button mat-menu-item (click)="openDialog(file.documentoId, file.nombreDocumento, file.linkDocumento , file.createdAt, file.tipoAcceso)">
                                  <mat-icon>edit</mat-icon>
                                  <span>Abrir</span>
                              </button>
                          }
                          @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "png"){
                              <button mat-menu-item (click)="openDialog(file.documentoId, file.nombreDocumento, file.linkDocumento , file.createdAt, file.tipoAcceso)">
                                  <mat-icon>edit</mat-icon>
                                  <span>Abrir</span>
                              </button>
                          }
                          @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "peg"){
                              <button mat-menu-item (click)="openDialog(file.documentoId, file.nombreDocumento, file.linkDocumento , file.createdAt, file.tipoAcceso)">
                                  <mat-icon>edit</mat-icon>
                                  <span>Abrir</span>
                              </button>
                          }
                          @if(file.nombreDocumento.substring(file.nombreDocumento.length - 3) == "pdf"){
                              <button mat-menu-item (click)="openDialogpdf(file.documentoId, file.nombreDocumento, file.linkDocumento , file.createdAt, file.tipoAcceso, this.useridglobal,file.description, file.accessType, file.password, file.categoria, file.folderId)">
                                  <mat-icon>edit</mat-icon>
                                  <span>Abrir</span>
                              </button>
                          }
                          
                          <a href="{{file.minioLink}}" download="{{file.nombreDocumento}}">
                            <button mat-menu-item>
                              <mat-icon>cloud_download</mat-icon>
                              <span>Descargar</span>
                            </button>
                        </a>
                        </mat-menu>
                  </div>
              </div>
  
          </mat-list-item>
          }
          }
      </mat-list>
    </div>
  </div>
  