.container {
  display: flex;
  height: calc(100vh - 64px);
  /* Use full height of the viewport */
  flex-direction: column;
}

.containermobile {
  display: none;
  height: calc(100vh - 64px);
  /* Use full height of the viewport */
  flex-direction: column;
}

.example-spacer {
  flex: 1 1 auto;
}

.title {
  padding-top: 0.5%;
  margin-right: 1%;
  font-size: 200%;
  font-weight: bold;
  color: #06367A;

}

mat-list-item {
  border-bottom-style: solid;
  border-color: lightgray;
  border-width: 2px;
}

mat-grid-tile {
  margin: 10px;
  overflow-y: auto;
  background-color: #F0F4F9;
  border-radius: 10px;

}

.mat-grid-tile:hover {
  background-color: #f5f9fda8;
}

mat-list {
  width: 100%;
  height: 100%;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

.subtitle {
  padding-top: 0.5%;
  margin: 10px;
  font-size: 150%;
  font-weight: bold;
  color: #06367A;
}

.alert {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
}

.alertE {
  background-color: rgb(168, 30, 30);
  color: white;
  padding: 15px;
}

.iconhover:hover {
  transform: translateY(-2px);
  background-color: #F5F9FD;
  text-wrap: wrap;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  min-height: 200px;
}

.vertical-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.flechita {
  display: flex;
  padding-top: 0.7%;
}

.buttonfolder {
  display: flex;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.card-square {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 2%;
  border-radius: 15px;
  padding: 2%;
  max-width: 210px;
  min-width: 200px;
  height: fit-content;
}

.example-button-row {
  flex: 1;
  display: flex;
  margin: 2%;

}

.newgrid {
  padding-bottom: 3%;
}

.card-square-subfolder {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 1%;
  border-radius: 15px;
  padding: 5%;
  max-width: 210px;
  min-width: 200px;
  height: 130px;
}

.clicktitle {
  margin: 1%;
  font-size: large;
  font-weight: bold;
  color: rgb(63, 63, 63);
}

.route {
  display: flex;
  flex-direction: row;
  color: #6663FE;

}

.routeshared {
  flex: 1;
  display: flex;
  flex-direction: row;
  color: #00A0B6;

}

.icon-secction {
  flex: 1;
  display: flex;
  flex-direction: row;
  color: #6663FE;
}

.icon-secction-shared {
  flex: 1;
  display: flex;
  flex-direction: row;
  color: #61cad8;
}

.nameCategory {
  flex-direction: column;
  flex: 1;
  display: flex;
  margin-left: 2%;
  margin-top: 14%;
}

.numberOfFiles {
  flex: 1;
  display: flex;
  margin-left: 2%;
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBF2FC;
  border-radius: 100%;
  padding: 2%;
  margin: 2%;
}

.star {
  flex: 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  padding: 2%;
  margin: 2%;
}

.card-image {
  flex: 1/5;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  margin: 1%;
  border-radius: 15px;
  padding: 2%;
}

.image-secction {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-file-section {
  flex: 1;
  margin-bottom: 2%;
}

.date-section {
  flex: 1;
}

.example-context-area {
  display: inline-grid;
  border: 2px dashed black;
}

.example-context-area .example-context-area {
  margin: 100px;
  width: 200px;
  height: 100px;
}

.example-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 6px 0;
}

.example-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.example-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
  background-color: rgb(170, 170, 170);
}


@media only screen and (max-width: 768px) {
  .horizontal-layout {
    flex-direction: row;
    padding: 10px;
    overflow-x: scroll;
    display: flex;
  }

  .icon-secction {
    width: 100px;
    display: flex;
    flex-direction: row;
    color: #6663FE;
  }

  .card-square {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #6663FE;
    color: white;
    margin: 1%;
    border-radius: 15px;
    padding: 5%;
  }

  .card-square-subfolder {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 1%;
    border-radius: 15px;
    padding: 2%;
    max-width: 300px;
    min-width: 200px;
    max-height: 50%;
  }

  .card-image {
    flex: 1/5;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 1%;
    border-radius: 15px;
    padding: 2%;
  }

  .title {
    padding-top: 1.5%;
    margin-right: 1%;
    font-size: 200%;
    font-weight: bold;
    color: #06367A;
  }

  .subtitle {
    padding-top: 2.5%;
    margin-right: 1%;
    font-size: 150%;
    font-weight: bold;
    color: #06367A;
  }

  .route {
    display: flex;
    flex-direction: column;
    color: #6663FE;
    overflow-x: auto;
    width: 100%;


  }
  .container {
    display: none;
  }
  .containermobile {
    display: flex;
    height: calc(100vh - 64px);
    /* Use full height of the viewport */
    flex-direction: column;
  }

}