<div class="container">
  <div class="logo">
    <img src="assets/logo.png" alt="logo" height="230px" />
  </div>
  @if (qr) {
    <div class="qr-container">
      <div class="data-container">
        <p class="text-xl">
          <span class="bold">Emisor:</span>
          <span> {{ qr.emitter.fullName }}</span>
        </p>

        <p class="text-xl">
          <span class="bold">Dependencia:</span>
          <span>{{ qr.emitter.dependence }}</span>
        </p>

        <p class="text-xl">
          <span class="bold">{{ qr.title }}</span>
        </p>
        <p>{{ qr.message }}</p>
      </div>

      <ngx-extended-pdf-viewer
        [src]="qr.file.link ?? ''"
      ></ngx-extended-pdf-viewer>
    </div>
  } @else {
    <p>{{ errorMessage }}</p>
  }
</div>
