<mat-dialog-content class="customdialog">
    <div class="img-secction">
        <video width="640" height="360" controls>
            <source [src]="videoUrl" type="video/mp4">
            Tu navegador no soporta esta funcion, prueba otro.
        </video>
    </div>
    <div class="data-secction">
        <div class="vertical-layout">
            <div class="name">{{data.name| truncateDocumentName}}</div>
            <div class="date">{{data.date| formatDate }}</div>
            <div class="share-secction">
                <div>
                    {{data.privacy}}
                </div>
            </div>
        </div>       
    </div>
</mat-dialog-content>
