.customdialog{
    background-color: white;
    color: black;
    flex-direction: column;
    display: flex;
}
.img-secction,
.img-secction img{
    border-radius: 5px;
    width: 100%;

}
.data-secction{
    flex-direction: row; 
    display: flex;
}
.share-secction{
    background-color: #E7F4F9;
    display: flex;
    width: fit-content;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #00A0B6;
}

.vertical-layout{
    flex-direction: column;
    display: flex;
}
.button-secction{
    color: #06367A;
    flex: 5;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.name{
    width: 100%;
    font-size: 150%;
    margin: 2%;
}
.date{
    font-size: 100%;
    margin: 2%;
}
