<div class="customdialog">
  <mat-dialog-content>
    <div class="title-secction">
      <div class="icon-title">
        <mat-icon>create_new_folder</mat-icon>
      </div>
      <div class="title">Crear nueva carpeta</div>
      <div class="close" (click)="cerrarDialogo()">
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <div class="email-secction">
      <mat-form-field>
        <mat-label>Nombre de la nueva carpeta</mat-label>
        <input
          matInput
          class="custom-input"
          placeholder="Nombre del folder"
          [formControl]="folderName"
          id="folderName"
          minlength="6"
          maxlength="30"
          required
          (keyup.enter)="registrarCustodio()"
        />
      </mat-form-field>
    </div>
    <div class="button-secction">
      <button mat-raised-button (click)="registrarCustodio()">
        Crear carpeta
      </button>
    </div>
    @if (mostrarAlertaExito) {
      <div class="alert">Se registro correctamente el item</div>
    }
    @if (mostrarAlertaError) {
      <div class="alertE">{{ stringerror }} No se pudo registrar el item</div>
    }
  </mat-dialog-content>
</div>
