.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #d64141;
}

.hidebar {
  width: 50px;
}

mat-toolbar {
  position: relative;
  z-index: 5;
}

.mat-elevation-z3 {
  background-color: rgb(6, 54, 122);
  color: white;
}

.iconoblanco {
  color: white;
}
mat-sidenav-container {
  height: calc(100vh - 64px);
}

.content {
  padding: 1%;
  background-color: #ebf2fc;
  color: black;
  overflow-y: visible;
}
.custom-sidebar {
  background-color: rgb(6, 54, 122);
  color: white;
}

mat-icon {
  margin-right: 10px;
}
