<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button class="hidebar" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="isSmallScreen() ? 'over' : 'side'"
    [opened]="opened()"
    [style.width]="sidenavWidth()"
    class="custom-sidebar"
  >
    <mat-nav-list>
      @for (item of menu; track item) {
        <a
          mat-list-item
          [routerLink]="'/nube' + item.route"
          routerLinkActive="active"
          [matTooltip]="item.label"
          [matTooltipPosition]="!isSmallScreen() ? 'right' : 'above'"
          (click)="onNavItemClick()"
        >
          <mat-icon class="iconoblanco">{{ item.icon }}</mat-icon>
          <label class="iconoblanco">{{ item.label }}</label>
        </a>
      }
      <a
        mat-list-item
        [matTooltip]="'Cerrar Sesión'"
        [matTooltipPosition]="!isSmallScreen() ? 'right' : 'above'"
        (click)="logout()"
      >
        <mat-icon class="iconoblanco">logout</mat-icon>
        <label class="iconoblanco">Cerrar Sesión</label>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.marginLeft]="contentWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
