<div class="container">
  <div class="title">Administra tus usuarios</div>
  <div class="table-secction">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="usuarioId">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
          <td mat-cell *matCellDef="let row">
            {{ row.fullName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="celular">
          <th mat-header-cell *matHeaderCellDef>Celular</th>
          <td mat-cell *matCellDef="let row">{{ row.cellphone }}</td>
        </ng-container>

        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let row">{{ row.position }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let row">
            @if (row.status == true) {
              Activo
            }
            @if (row.status == false) {
              Inactivo
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="dependencia">
          <th mat-header-cell *matHeaderCellDef>Dependencia</th>
          <td mat-cell *matCellDef="let row">{{ row.dependence }}</td>
        </ng-container>

        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef>Rol en sistema</th>
          <td mat-cell *matCellDef="let element">
            @if (rolesForEdit[element.id]) {
              <mat-form-field>
                <mat-label>{{ element.role.name }} </mat-label>
                <mat-select [(value)]="selected" [formControl]="rol">
                  <mat-option value="1">Administrador</mat-option>
                  <mat-option value="2">Super Administrador</mat-option>
                </mat-select>
              </mat-form-field>
            } @else {
              {{ element.role.name }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="edit-rol">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="button-secction">
              <mat-slide-toggle
                (change)="onRolEditChange($event, element.id)"
                [ngModel]="rolesForEdit[element.id]"
              >
                >¡Deliza para modificar rol!</mat-slide-toggle
              >
            </div>
            @if (rolesForEdit[element.id]) {
              <div class="button-secction">
                <button mat-stroked-button (click)="applyRol(element)">
                  Aplicar Nuevo Rol
                </button>
              </div>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="view-details">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <div class="button-secction">
              <button mat-raised-button color="primary" (click)="view(row.id)">
                Ver detalles
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Sin registros para la búsqueda: "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
