<div class="preview">
  <div class="title">
    <div>
      <span>{{ item?.title }}</span>
    </div>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="download()">
      Descargar
    </button>
  </div>

  <div class="mt-2 preview-container">
    @switch (item?.fileType) {
      @case ("audio/mpeg") {
        <div class="audio">
          <audio [src]="url" controls></audio>
        </div>
      }
      @case ("image/jpeg") {
        <img class="image" [src]="url" [alt]="item?.title" />
      }
      @case ("video/mp4") {
        <video class="video" [src]="url" controls></video>
      }
      @case ("application/pdf") {
        <ngx-extended-pdf-viewer
          [src]="item?.link ?? ''"
        ></ngx-extended-pdf-viewer>
      }
    }
  </div>
</div>
